* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
body {
    font-family: 'Open Sans', sans-serif;
}
header {
    width: 100%;
    background:#362712;
    display: flex;
}
.header_logo {
    text-transform: uppercase;
    color: #D38E3B;
    font-weight: 500;
    font-size: 24px;
    cursor: pointer;
    margin-left: 56px;
    margin-left: 12%;
}
